<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav>
	<h1>En Cartelera</h1>
</nav>
<div class="container mt-5">
    <div class="row d-flex justify-content-center g-1">
        <div class="col-md-4">
            <div class="product text-center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCpbEhVF0LMZ2o5bQKAnoDqlgLGX5ZuWnYQ&usqp=CAU" 
				width="250">
                <div class="about text-left px-3">
                    <h4>Standron Chair</h4> <span class="text-muted">Home decor</span>
                    <h3>$230</h3>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product text-center"> 
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh2tQaTwcmQ8bj5TokuMIHQfH3dv9sk3Si6Q&usqp=CAU"
				 width="250">
                <div class="about text-left px-3">
                    <h4>Trodon ChairTrodon Chair</h4> <span class="text-muted">Home decor</span>
                    <h3>$220</h3>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product text-center"> 
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcky9pcqg7PAWCtLZiTeY2MQznG5whEvfGGQ&usqp=CAU"
				 width="250">
                <div class="about text-left px-3">
                    <h4>Dura Chair</h4> <span class="text-muted">Home decor</span>
                    <h3>$299</h3>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row d-flex justify-content-center g-1">
        <div class="col-md-4">
            <div class="product text-center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCpbEhVF0LMZ2o5bQKAnoDqlgLGX5ZuWnYQ&usqp=CAU" 
				width="250">
                <div class="about text-left px-3">
                    <h4>Standron Chair</h4> <span class="text-muted">Home decor</span>
                    <h3>$230</h3>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product text-center"> 
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh2tQaTwcmQ8bj5TokuMIHQfH3dv9sk3Si6Q&usqp=CAU"
				 width="250">
                <div class="about text-left px-3">
                    <h4>Trodon ChairTrodon Chair</h4> <span class="text-muted">Home decor</span>
                    <h3>$220</h3>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product text-center"> 
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcky9pcqg7PAWCtLZiTeY2MQznG5whEvfGGQ&usqp=CAU"
				 width="250">
                <div class="about text-left px-3">
                    <h4>Dura Chair</h4> <span class="text-muted">Home decor</span>
                    <h3>$299</h3>
                </div> <span class="dot"><span class="inner-dot"><i class="fa fa-plus"></i></span></span>
            </div>
        </div>
    </div>
</div>
<style>
	body {
    background-color: #eee
}
h1{
	text-align: center;
	padding: 19px;
}
.product {
    padding: 10px;
    background-color: #fff;
    position: relative
}

.about h4 {
    margin-bottom: -3px
}

.about h3 {
    color: #e3ce57
}

.about span {
    font-size: 13px
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #e3ce57;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: 10%;
    z-index: 10;
    bottom: -5%
}

.inner-dot {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer
}
</style>