{% extends 'main.html' %}
{% block content %}
<div class="container" style="margin: 50px 0px 50px 0px;">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a></a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="pelicula-info" style="margin: 20px 20px 0px 20px;">
        <h3>AVENGERS END GAME</h3>
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-4">
                <img style="width: 100%;" src="https://m.media-amazon.com/images/I/81ai6zx6eXL._AC_SL1304_.jpg">
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, facere minus ullam vel eum, quibusdam
                quasi suscipit odio ut accusantium id ipsam omnis dolor adipisci magnam, iste distinctio? Perspiciatis,
                optio.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque facilis harum maiores. Exercitationem
                iusto tempore, consequuntur corporis perspiciatis quaerat non rerum. Inventore expedita provident
                quibusdam dignissimos sint, velit assumenda eligendi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio quae autem praesentium ab delectus
                enim culpa nesciunt dignissimos non neque quam expedita voluptatibus, esse consequuntur veritatis
                reprehenderit quasi et.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi et pariatur debitis adipisci
                perferendis. Laudantium praesentium quo error odit vitae voluptas aliquam quam quidem dolore eaque!
                Incidunt iure earum facere?
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>Fecha de estreno</p>
                <p>Genero</p>
                <p>Limite de edad</p>
                <p>Pais de origen</p>
                <p>Director</p>
                <p>Actores</p>



            </div>
            <div class="col">
                <h4>FUNCIONES</h4>
                <div class="dia" style="margin-top: 20px;">
                    <h5>Día 1</h5>
                    <div class="row">
                        <div class="col">
                            Hora 1
                        </div>
                        <div class="col">
                            Hora 2
                        </div>
                        <div class="col">
                            Hora 3
                        </div>
                    </div>
                </div>
                <div class="dia" style="margin-top: 20px;">
                    <h5>Día 2</h5>
                    <div class="row">
                        <div class="col">
                            Hora 1
                        </div>
                        <div class="col">
                            Hora 2
                        </div>
                        <div class="col">
                            Hora 3
                        </div>
                    </div>
                </div>
                <div class="dia" style="margin-top: 20px;">
                    <h5>Día 3</h5>
                    <div class="row">
                        <div class="col">
                            Hora 1
                        </div>
                        <div class="col">
                            Hora 2
                        </div>
                        <div class="col">
                            Hora 3
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}