<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxqlvxC6znHwLTt--Jl00MKMeI8gcb50az3Q&usqp=CAU"
                         alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8 alt">
                        <h4>
                            JUAN PEREZ</h4>
                        <small><cite title="San Francisco, USA">Choco, Colombia <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p class="parrafo">
                            <i class="glyphicon glyphicon-envelope"></i>juansp@outlook.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">25 Años</a>
                            <br />
                           
                        <!-- Split button -->
                        <div class="btn btn-group">
                            <button type="button" class="btn btn-primary">
                                EDITAR PERFIL</button>  
                            </button>
                        </div><br>
                        <label class="check">Enviame noticias y Promociones a mi email
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <br><br><br><br><br><br>
                        <button type="button" class="btn2 btn-primary">
                          MIS RESERVAS</button>  
                      </button>
                    </div>
                </div><br><br><br>
                <h3 class="subtitle">MIS CALIFICACIONES</h3>
                <ul class="lista">
                  <li>50 Sombras de Grey</li>
                  <li>The Avengers</li>
                  <li>3 Metros Sobre el Cielo</li>
                </ul>
            </div>
        </div>
       
    </div>
    
</div>
<style>
  body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;

font-size: 15px;
}
.parrafo{
  font-size: 20px;
  margin-top: 20px;
}
h4{
  font-size: 22px;
}
.container{
  width: 150%;
}
.row{
  width: 150%;
  
}
.well{
  width: 150%;
}
.btn2{
  margin-left: 300px;
  padding: 20px;
  border-radius: 10px;
  
}
.btn{
  padding: 10px;
  border-radius: 10px;
}
.checkmark {
  
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
img{
  margin-left: 120px;
  width: 350px;
}
.subtitle{
  font-weight: bold;
  font-size: 20px;
  
}
.li{
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: bolder;
}
</style>
