.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1150px;
  margin: 59px auto 60px -10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1025px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 41px 530px 0 95px;
}

.u-section-1 .u-image-1 {
  width: 282px;
  height: 297px;
  margin: 57px auto 0 104px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: -285px 107px 0 422px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 203px 0 422px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 16px 203px 0 422px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 89px auto 0 445px;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 80px 814px 0 104px;
}

.u-section-1 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: -37px auto 0 300px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 16px 148px 0 auto;
  padding: 0 28px;
}

.u-section-1 .u-icon-2 {
  font-size: 3.2667em;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 6px 778px 0 104px;
}

.u-section-1 .u-icon-3 {
  width: 39px;
  height: 38px;
  margin: 45px auto 0 535px;
}

.u-section-1 .u-icon-4 {
  width: 39px;
  height: 39px;
  margin: -38px auto 0 324px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -36px auto 0 104px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 39px;
  height: 39px;
  margin: -36px auto 0 377px;
}

.u-section-1 .u-icon-6 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 430px;
}

.u-section-1 .u-icon-7 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 482px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 40px auto 0 104px;
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 39px;
  height: 39px;
  margin: -36px auto 0 324px;
}

.u-section-1 .u-icon-9 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 377px;
}

.u-section-1 .u-icon-10 {
  width: 39px;
  height: 38px;
  margin: -40px auto 0 429px;
}

.u-section-1 .u-icon-11 {
  width: 39px;
  height: 38px;
  margin: -36px auto 0 482px;
}

.u-section-1 .u-icon-12 {
  width: 39px;
  height: 38px;
  margin: -37px auto 0 535px;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 40px auto 0 104px;
  padding: 0;
}

.u-section-1 .u-icon-13 {
  width: 39px;
  height: 39px;
  margin: -36px auto 0 377px;
}

.u-section-1 .u-icon-14 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 324px;
}

.u-section-1 .u-icon-15 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 430px;
}

.u-section-1 .u-icon-16 {
  width: 39px;
  height: 38px;
  margin: -39px auto 0 482px;
}

.u-section-1 .u-icon-17 {
  width: 39px;
  height: 38px;
  margin: -38px auto 0 535px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 929px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 415px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 98px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 98px;
    margin-left: 317px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 235px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 708px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 672px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 437px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 265px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -37px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 351px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 394px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 265px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-10 {
    margin-top: -41px;
    margin-left: 351px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 437px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 308px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 265px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 351px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 394px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 195px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 96px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 96px;
    margin-left: 99px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 488px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 230px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 452px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 335px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 203px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 236px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 269px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 302px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 203px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 236px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 269px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 302px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 335px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 236px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 203px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 269px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 302px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 308px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 272px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 251px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 152px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 177px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 202px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 227px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 152px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 177px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 202px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 227px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 251px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 177px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 152px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 202px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 227px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 108px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 72px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 158px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 96px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 111px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 127px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 143px;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 96px;
  }

  .u-section-1 .u-icon-9 {
    margin-left: 111px;
  }

  .u-section-1 .u-icon-10 {
    margin-left: 127px;
  }

  .u-section-1 .u-icon-11 {
    margin-left: 143px;
  }

  .u-section-1 .u-icon-12 {
    margin-left: 158px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 111px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 96px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 127px;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 143px;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 158px;
  }
}